/*! ==========================================================================
   UIKIT Custom
   ========================================================================== */

@import "components/variables";

@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

@import "components/mixins";

@import "node_modules/uikit/src/scss/uikit-theme.scss";

/*! ==========================================================================
   Theme styles
   ========================================================================== */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.preloader {
    position: fixed;
    z-index: 9999;
    background: $global-inverse-color;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
        max-width: 50px;
        height: auto;
    }
    .uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
        stroke: $global-color;
    }
    .uk-spinner > * > * {
        stroke-width: 2px !important;
        r: 13 !important;
    }
}

.site-main {
    flex: 1 0 auto;
}