$global-color: #1b1b1b;
$global-inverse-color: #FFFFFF;

/* $global-font-family: 'font_name', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$base-heading-font-family: 'font_name', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */